<!DOCTYPE html>
<html>
<head>
  <title>Welcome</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body id="welcomePage">
<h1 id="welcomePageH1"> Welcome To WHWD</h1>
<h6> Wave Height & Wave Direction</h6>
<% if(!isAuthenticated){%>

<button style="background-color:#00B7FF;"><a href="/signin" style="text-decoration: none"> SignIn</a></button>
<button style="background-color:#00B7FF;"><a href="/signup" style="text-decoration: none">SignUp</a></button>
<%}
else{%>
Hello, Welcome back, <%=user.name%>!
<a href="/dashboard">Go to dashboard</a>
<%}%>


</body>
</html>
