<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<form class="divForm" method="post" align="center" >
    <h2>Sign Up</h2>

    <div><label style="text-shadow: 1px 1px 1px gray;">FirstName</label> <input class="signupInput" type="text" name="firstname" placeholder="First Name" required autofocus></div>
    <p>

    </p>
    <div><label style="text-shadow: 1px 1px 1px gray;">LastName</label> <input class="signupInput" type="text" name="lastname" placeholder="Last Name" required ></div>
    <p>

    </p>
    <div><label style="text-shadow: 1px 1px 1px gray;">Email </label><input class="signupInput" type="email" name="email" placeholder="Email" required></div>
    <p>

    </p>
    <div><label style="text-shadow: 1px 1px 1px gray;">UserName</label> <input class="signupInput" type="text" name="username" placeholder="Username" required></div>
    <p>

    </p>
    <div><label style="text-shadow: 1px 1px 1px gray;">PassWord</label> <input class="signupInput" type="password" name="password" placeholder="Password" ></div>
    <p>

    </p>
    <div>
        <input class="buttonCollor"  name="signup" type="submit" value="Sign Up">
        <input class="buttonCollor" name="cancel" type="reset" value="Cancel">
    </div>

    <p style="padding: 10px">Have an account? <a href="/signin"> LogIn</a></p>

</form>


</body>
</html>
